# Created by https://www.toptal.com/developers/gitignore/api/sass,prepros
# Edit at https://www.toptal.com/developers/gitignore?templates=sass,prepros

### Prepros ###
# Config Prepros files to ignore
prepros.cfg
prepros-6.config
prepros.config

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# End of https://www.toptal.com/developers/gitignore/api/sass,prepros